*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --main-font: 'inter', sans-serif;
    --button-front: 'inter', sans-serif;
    --body-background-color: #d4e4ee; 

    font-size: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--body-background-color);
    padding: 10px 50px 50px 20px;
}

.warning{
display: flex;
gap: 0.5rem;

padding: 1.5rem 0rem;

}

.main{
    justify-content: flex-start
}

.escrever{
    resize: none;
    height: 300px;
    margin: 5%;
    width: 500px;
    border-radius: 1rem;
    border-color: rgb(250, 250, 250);
    background-color: #d4e4ee;
    border: 0.2rem dashed var(--button-front)
}